@font-face {
  font-family: 'HK Grotesk'
  font-style: normal
  font-weight: 400
  src: url('~assets/fonts/HKGrotesk/HKGrotesk-Regular.woff2') format('woff2')
}

@font-face {
  font-family: 'HK Grotesk'
  font-style: normal
  font-weight: 700
  src: url('~assets/fonts/HKGrotesk/HKGrotesk-Bold.woff2') format('woff2')
}

@font-face {
  font-family: 'HK Grotesk'
  font-style: italic
  font-weight: 400
  src: url('~assets/fonts/HKGrotesk/HKGrotesk-Italic.woff2') format('woff2')
}