main-blue = #7287FF
main-red = #FF7286
main-yellow = #FFEB72
main-green = #3AE983

secondary-blue = #BFC8FF
secondary-red = #FFBFC8
secondary-yellow = #FFF6BF
secondary-green = #C3F8DA

light-blue = #E8EBFF
light-red = #FFE8EB
light-yellow = #FFFBE5
light-green = #E8FCF1

white-blue = #F5F7FF
white-red = #FFF5F6
white-yellow = #FFFEF5
white-green = #F6FEF9

carbon = #303030
